<!doctype html>
<html lang="en">
  <head>
    <title>{{ title }}</title>
    {% w3_theme theme %}
    <script>
      (({location}) => {
        const searchParams = new URLSearchParams(location.search);
        if (searchParams.has("dump")) {
          console.log({{ page | dump | safe }});
        }
      })(window);
    </script>
  </head>
  <body>{{ content | safe }}</body>
</html>
