<!DOCTYPE html>
<html lang="en">
    <head>
        <title>SCAD Files</title>
        {% w3_theme_css %}
    </head>
    <body>
        <header>
            <h1>OpenSCAD Files</h1>
        </header>
        <section>
            {{ content }}
        </section>
    </body>
</html>
