<!doctype html>
<html lang="en">
  <head>
    <title>OpenSCAD Files</title>
    {% w3_theme_css theme %}
    <script>
      console.log({{ page | dump | safe }});
    </script>
  </head>
  <body>
    <header>
      <h1>OpenSCAD Files</h1>
    </header>
    <section>{{ content | safe }}</section>
  </body>
</html>
